{% extends 'bookmarks/base.html' %}

{% block title %}Edit Bookmark{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Edit Bookmark</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }} {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.url.label_tag }} {{ form.url }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}